<p>
    <p>Name: {{task.name}}</p>
    <p>Description: {{task.description}}</p>
    <p>Deadline: {{task.deadline|date('Y-m-d')}}</p>
    <p>Priority: {{task.priority}}</p>
    {% if task.user is not null %}
        <p>User: {{ task.user.username }}</p>
    {% endif %}
</p>

